@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "DodoRounded v2";
        src: url("../assets/fonts/DodoRounded_v2-Regular.woff2") format("woff2");
        font-display: swap;
        font-style: normal;
    }
}

html {
    @apply font-regular;
}

:root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%
    );
}
html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
}
code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}



